  {% load static %}

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="contact-info d-flex align-items-center">
          <i class="d-flex align-items-center"><a href="tel:{{phone_1}}">{{phone_1}}</a></i>
          <i class="d-flex align-items-center ms-1"><a href="mailto:{{email_1}}">{{email_1}}</a></i>
          <i class="d-flex align-items-center ms-1"><a href="/tm"><img src="{% static 'assets/img/tm.png' %}" alt=""></a></i>
          <i class="d-flex align-items-center ms-0"><a href="/ru"><img src="{% static 'assets/img/ru.png' %}" alt=""></a></i>
        </div>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="{% url 'index_russian' %}" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'assets/img/logo.png' %}" alt="">
          <h1 class="sitename">{{logo_name}}</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>
            {% if page == 'home' %}
            <li><a href="{% url 'index_russian' %}" class="active">Главная страница<br></a></li>
            <li><a href="{% url 'services_russian' %}">Услуги</a></li>
            <li><a href="{% url 'it_services_russian' %}">IT Услуги</a></li>
            <li><a href="{% url 'products_russian' %}">Товары</a></li>
            <li><a href="{% url 'contact_russian' %}">Обратная связь</a></li>
            {% endif %}
            {% if page == 'services' %}
            <li><a href="{% url 'index_russian' %}">Главная страница<br></a></li>
            <li><a href="{% url 'services_russian' %}" class="active">Услуги</a></li>
            <li><a href="{% url 'it_services_russian' %}">IT Услуги</a></li>
            <li><a href="{% url 'products_russian' %}">Товары</a></li>
            <li><a href="{% url 'contact_russian' %}">Обратная связь</a></li>
            {% endif %}
            {% if page == 'it_services' %}
            <li><a href="{% url 'index_russian' %}">Главная страница<br></a></li>
            <li><a href="{% url 'services_russian' %}">Услуги</a></li>
            <li><a href="{% url 'it_services_russian' %}" class="active">IT Услуги</a></li>
            <li><a href="{% url 'products_russian' %}">Товары</a></li>
            <li><a href="{% url 'contact_russian' %}">Обратная связь</a></li>
            {% endif %}
            {% if page == 'products' %}
            <li><a href="{% url 'index_russian' %}">Главная страница<br></a></li>
            <li><a href="{% url 'services_russian' %}">Услуги</a></li>
            <li><a href="{% url 'it_services_russian' %}">IT Услуги</a></li>
            <li><a href="{% url 'products_russian' %}" class="active">Товары</a></li>
            <li><a href="{% url 'contact_russian' %}">Обратная связь</a></li>
            {% endif %}
            {% if page == 'contact' %}
            <li><a href="{% url 'index_russian' %}">Главная страница<br></a></li>
            <li><a href="{% url 'services_russian' %}">Услуги</a></li>
            <li><a href="{% url 'it_services_russian' %}">IT Услуги</a></li>
            <li><a href="{% url 'products_russian' %}">Товары</a></li>
            <li><a href="{% url 'contact_russian' %}" class="active">Обратная связь</a></li>
            {% endif %}
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>