{% extends 'russian/base.html' %}
{% load static %}
{% block content %}
<!-- Services Section -->
<section id="services" class="services section">
  <br><br><br><br><br><br>
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Наши услуги для вас</h2>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">
      {% for service in services %}
      <style>
          .services .service-item.item-{{service.color}} {
            border-bottom: 3px solid {{service.color}};
          }

          .services .service-item.item-{{service.color}} .icon {
            color: {{service.color}};
            background: rgba{{service.color|to_rgb}};;
          }

          .services .service-item.item-{{service.color}} .read-more {
            color: {{service.color}};
          }

          .services .service-item.item-{{service.color}}:hover {
            background: {{service.color}};
          }

          .services .service-item:hover h3,
          .services .service-item:hover p,
          .services .service-item:hover .read-more {
            color: #fff;
          }

          .services .service-item:hover .icon {
            background: #fff;
          }

      </style>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-{{service.color}} position-relative">
          <i class="bi bi-{{service.icon}} icon"></i>
          <h3>{{service.title_russian}}</h3>
          <p>{{service.short_description_russian}}</p>
          <a href="{% url 'service_russian' service.id %}" class="read-more stretched-link"><span>Подробно</span> <i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->
      {% endfor %}

    </div>

  </div>

</section><!-- /Services Section -->
  
  {% endblock %}