{% extends 'russian/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index_russian' %}">Главная страница</a></li>
            <li><a href="{% url 'services_russian' %}">Услуги</a></li>
            <li class="current">{{service.title_russian}}</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            {% if service.image_russian %}
              <center><img src="{{service.image_russian.url}}" width="600px;" class="img-fluid services-img"></center>
            
            
            {% endif %}
            <h3>{{service.title_russian}}</h3>
            <p>
              {{service.short_description_russian}}
            </p>
            <ul>
              {% for sentence in service.full_description_russian|split %}
                {% if sentence %}
                  <li><i class="bi bi-check-circle"></i> <span>{{sentence}}</span></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Услуги</h4>
              <div class="services-list">
                {% for s in services %}
                  {% if s.id == service.id %}
                    <a href="{% url 'service_russian' s.id %}" class="active"><i class="bi bi-{{s.icon}}"></i><span>{{s.title_russian}}</span></a>
                  {% else %}
                    <a href="{% url 'service_russian' s.id %}"><i class="bi bi-{{s.icon}}"></i><span>{{s.title_russian}}</span></a>
                  {% endif %}
                {% endfor %}
              </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Обратная связь</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span><a href="tel:{{phone_1}}">{{phone_1}}</a></span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:{{email_1}}">{{email_1}}</a></p>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

    {% endblock %}