{% load static %}

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% static 'index.html' %}" class="d-flex align-items-center">
            <span class="sitename">{{logo_name}}</span>
          </a>
          <div class="footer-contact pt-3">
            <p>{{address_1}}</p>
            <p class="mt-3"><strong>Telefon:</strong> <span>{{phone_1}}</span></p>
            <p><strong>E-mail:</strong> <span>{{email_1}}</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Salgylanmalar</h4>
          <ul>
            
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'index' %}">Baş sahypa</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'services' %}">Hyzmatlar</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'products' %}">Harytlar</a></li>

          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Goldaw</h4>
           <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'contact' %}">Habarlaşmak üçin</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Bizi yzarlaň</h4>
          <p>Sosial torlarynda biziň gündelik täzeliklerimiz bilen tanyş boluň</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-telegram"></i></a>
            <a href=""><i class="bi bi-tiktok"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Awtorlyk hukugy</span> <strong class="px-1 sitename">PeykamComputer</strong> <span>Ähli hukuklar goralan.</span></p>
    </div>

  </footer>
