{% extends 'turkmen/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}   
    
    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Baş sahypa</a></li>
            <li><a href="{% url 'products' %}">Harytlar</a></li>
            <li class="current">{{product.name}}</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper init-swiper">

              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{product.image.url}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
              <h3>Haryt barada maglumat</h3>
              {% if product.is_in_stock %}
              <h6 class="post-title" style="color: rgb(7, 85, 7);"><i class="bi bi-check2-circle"></i> Elimizde bar</h6>
              {% else %}
              <h6 class="post-title" style="color: red;"><i class="bi bi-x-circle"></i> Elimizde ýok</h6>
              {% endif %}
              <ul>
                <li><strong>Kategoriýasy</strong>: {{product.category}}</li>
                <li><strong>Harydyň ady</strong>: {{product.name}}</li>
                <li><strong>Bahasy</strong>: {{product.price}} TMT</li>
                <li><strong>Sargamak üçin</strong>: <span><a href="tel:{{phone_1}}">{{phone_1}}</a>, <a href="mailto:{{email_1}}">{{email_1}}</a></span></li>
              </ul>
            </div>
            <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
              <h2>Gysgaça beýany</h2>
              <p>
                {{product.description|linebreaksbr}} 
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

    {% endblock %}