{% extends 'turkmen/base.html' %}
{% load static %}
{% block content %}
 
    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Baş sahypa</a></li>
            <li class="current">Harytlar</li>
            {% if product_category %}
            <li class="current">{{product_category.name}}</li>
            {% else %}
            <li class="current">Ählisi</li>
            {% endif %}
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Sebetde jemi - {{cart_items_length}} haryt</h4>
              <div class="services-list">
                <a href="{% url 'view_cart' %}"><i class="bi bi-cart3"></i><span>Sebede geç</span></a> 
              </div>
              <br>
              <div class="services-list">

                <div class="service-list">
                  <div class="mobile-toggle"><h4>Kategoriýalar <i class="bi bi-chevron-right"></i></h4> </div>
                  {% if page == 'products' %}
                  <a href="{% url 'products' %}" class="active"><i class="bi bi-bag"></i><span>Ählisi</span></a> 
                  {% for category in categories %}
                  <a href="{% url 'category_products' category.id %}"><i class="bi bi-bag"></i><span>{{category.name}}</span></a> 
                  {% endfor %}
                {% endif %}
                {% if page == 'category products' %}
                  <a href="{% url 'products' %}"><i class="bi bi-bag"></i><span>Ählisi</span></a>
                  {% for category in categories %}
                    {% if product_category.id == category.id %}
                    <a href="{% url 'category_products' category.id %}" class="active"><i class="bi bi-bag"></i><span>{{category.name}}</span></a>
                    {% else %}
                    <a href="{% url 'category_products' category.id %}"><i class="bi bi-bag"></i><span>{{category.name}}</span></a>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                  <!-- Add more service links as needed -->
                </div>
              </div>
              <!-- Add this HTML for the mobile toggle button inside the .service-details .service-list -->
              <script>
                // Add this JavaScript to your script file or inside a <script> tag
                  document.addEventListener('DOMContentLoaded', function () {
                    const toggleButton = document.querySelector('.service-list .mobile-toggle');
                    const serviceLinks = document.querySelectorAll('.service-list a');

                    toggleButton.addEventListener('click', function () {
                      serviceLinks.forEach(link => {
                        link.classList.toggle('dropdown-active');
                      });
                    });
                  });
              </script>
            </div><!-- End Services List -->

          </div>
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="container">
        
              <div class="row gy-5">
                {% for product in products %}
                <div class="col-xl-4 col-md-6">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
      
                    <div class="post-img position-relative overflow-hidden">
                      <img src="{{product.image.url}}" class="img-fluid" alt="">
                      <span class="post-date">{{product.price}} TMT</span>
                    </div>
      
                    <div class="post-content d-flex flex-column">
                      {% if product.is_in_stock %}
                      <h6 class="post-title" style="color: rgb(7, 85, 7);"><i class="bi bi-check2-circle"></i> Elimizde bar</h6>
                      {% else %}
                      <h6 class="post-title" style="color: red;"><i class="bi bi-x-circle"></i> Elimizde ýok</h6>
                      {% endif %}
                      <h3 class="post-title"><a href="{% url 'product' product.id %}">{{product.name}}</a></h3>
                      <div class="meta d-flex align-items-center">

                      </div>
                      <a href="{% url 'add_to_cart' product.id %}" class="btn btn-card"><i class="bi bi-cart-plus"></i> <span>Sebede goş</span></a>
                    </div>
      
                  </div>
                </div><!-- End post item -->
                {% empty %}
                <div class="service-box">
                  <h4>Bu kategoriýada häzirki wagtda haryt ýok</h3>
                </div>
                
                {% endfor %}
      
              </div>
      
            </div>
            
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->
  {% endblock %}

